@import '../../styles/variable';

.compound-container {
    // width: 1000px;
   
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
    .display-form {
        display: flex;;
    }

    @media #{($desktop)} {
        background-color: pink;
        width: 80%;
    }
}