@import "../../styles/variable";

.form-container {
  width: 100%;

  form {
    // margin: 0 auto;
    max-width: 350px;
    background-color: $dark-blue;
    display: flex;
    flex-direction: column;
    padding: 25px;

    label {
      color: $white;
    }
    input {
      margin-bottom: 15px;
    }
    button {
      background-color: $orange;
      margin: 15px auto;
      width: 120px;
      height: 45px;
      border: none;
      color: $white;
      transition-duration: 0.4s;
      font-size: 1.8rem;
    }

    button:hover {
      cursor: pointer;
      background-color: $white;
      color: $orange;
      border: 1px solid $orange;
    }
  }
}
